<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="./assets/css/main.css" rel="stylesheet" />
<title>Riepilogo giornata</title>
</head>
<body class="subpage" style="background-image: url('images/sfondo1.jpg');">
	<header id="header">
		<div class="logo"><a th:href="@{/}">Retnec Training Center</a></div>
		<nav>
			<a th:href="@{/home}">Homepage</a>
		</nav>
	</header>
	<header class="special" align="center">
		<h1 style="margin-top:48px">Questo è il programma previsto della giornata:</h1>
		<ul>
			<th:block th:each="attivita : ${elenco}">
				<li><span th:text="${attivita.descrizione.nome}"></span> <span
					th:text="${attivita.ora}"></span></li>
			</th:block>
		</ul>
	</header>
	<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
</body>
</html>