<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="./assets/css/main.css" rel="stylesheet" />
<title>Organizzazione attività</title>
</head>
<body class="subpage" style="background-image: url('images/sfondo1.jpg');">
	<header id="header">
		<div class="logo"><a th:href="@{/}">Retnec Training Center</a></div>
		<nav>
			<a th:href="@{/home}">Homepage</a>
		</nav>
	</header>
	<div align="center">
	<h1 style="margin-top:48px">Crea una nuova attività:</h1>
	<form th:action="@{/nuovaAttivita}"
		th:object="${attivita}" method="post">
			<li><span><b>Nome:</b></span> <input type="text" th:field="*{nome}" /></li>
			<li><span><b>Giorno:</b></span> <input type="date"
				th:field="*{data}" /></li>
			<br>
			<li><span><b>Orario:</b></span> <input type="time"
				th:field="*{orario}" /></li>
			<br>
			<li><input type="submit" value="Invia" /></li>
	</form>
	<p>
		<strong>Oppure scegline una tra l'elenco di tutte le attività
			presenti nel sistema:</strong>
	</p>
		<th:block th:each="attivita : ${attivita}">
			<li><a th:href="@{'/crea' + '/' + ${attivita.id}}"><strong
					th:text="${attivita.nome}"></strong></a></li>
			<li th:text="${attivita.data}"></li>
			<li th:text="${attivita.orario}"></li>

		</th:block>
	<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
</body>
</html>